<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest" monitorInterval="30">
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level]%C-%msg%n"/>
            <!--<Filters>-->
            <!--<Filter type="ThresholdFilter" level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--</Filters>-->
        </Appender>
        <Appender type="RollingRandomAccessFile" name="RollingRandomAccessFile" fileName="../logs/app.log"
                  filePattern="../logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level]%C-%msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </Appender>
        <Appender type="ASYNC" name="async">
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Appender>
    </Appenders>

    <Loggers>
        <logger name="cn.la" level="debug">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="org.springframework" level="WARN">
            <appender-ref ref="STDOUT"/>
        </logger>
        <Root level="INFO">
            <AppenderRef ref="async"/>
        </Root>
    </Loggers>

</Configuration>